.formulario {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    text-align: center;
}

.formulario form {
    max-width: 40%; 
    background-color: #F2F2F2;  
    border-radius: 10px;
    padding: 26px 44px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
}
